::-webkit-scrollbar {width: 20px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey;border-radius: 10px;}
::-webkit-scrollbar-thumb {background: rgba(73, 73, 73, 0.583);border-radius: 5px;}

.page {
    margin: auto;
    width: 90%;
    color: rgb(186, 186, 186);
    font-size: 20px;
    background-color: #1010106d;
}
.bold {
    font-weight: bold;
}
.error {
    color: red;
    background-color: rgba(139, 0, 0, 0.323);
    text-align: center;
    margin: auto;
}
.redimg {
    background-color: #00000050;
    border: dashed rgba(255, 0, 0, 0.152);
    border-width: 2px;
    max-width: 100%;
}
paragraph {
    margin-left: 40px;
}

p,h1 { 
    user-select: none; 
}
.item {
    border: rgba(114, 101, 197, 0.563); 
    border-width: 1px; 
    border-style: dotted; 
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.3); 
} 
.title {
    color: white; 
    text-align: center; 
    font-family:verdana;
}
.desc {
    color: white;  
    font-family:verdana;
}

.novalue { -webkit-text-stroke: 1px darkgray }
.common { -webkit-text-stroke: 1px darkgreen }
.rare { -webkit-text-stroke: 1px darkblue }
.superrare { -webkit-text-stroke: 1px darkviolet }
.mythical { -webkit-text-stroke: 1px red }
.legendary { -webkit-text-stroke: 1px orange }